<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="template1" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<meta charset="utf-8">
<title>Page Patients</title>
</head>

<body>
	<div layout:fragment="pageContent">
		<div class="container mt-5">
			<div class="card">
				<div class="card-header">Liste des patients</div>
				<div class="card-body">
					<form th:action="@{patients}" method="get">
						<div class="mb-3">
							<label>Mot Clé:</label> <input type="text" name="motCle"
								th:value="${motCle}">
							<button class="btn btn-primary">Chercher</button>
						</div>
					</form>
					<table class="table">
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>Date Naissance</th>
							<th>Malade</th>
							<th>Score</th>
							
						</tr>
						<tr th:each="p:${pagePatients}">
							<td th:text="${p.id}"></td>
							<td th:text="${p.name}"></td>
							<td th:text="${p.dateNaissance}"></td>
							<td th:text="${p.malade}"></td>
							<td th:text="${p.score}"></td>
							
							<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								onclick="javascript:return confirm('Etes vous sur !!!')"
								class="btn btn-danger"
								th:href="@{deletePatient(id=${p.id},page=${currentPage},size=${size},motCle=${motCle})}">Delete</a></td>
								<td sec:authorize="hasRole('ROLE_ADMIN')"><a
								class="btn btn-success"
								th:href="@{editPatient(id=${p.id})}">Edit</a></td>
						</tr>
					</table>
					<ul class="nav nav-pills">
						<li th:each="page,status:${pages}"><a class="btn"
							th:class="${status.index==currentPage}?'btn btn-primary':'btn'"
							th:href="@{patients(page=${status.index},size=${size},motCle=${motCle})}"
							th:text="${status.index}"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>